include ../../common/header
  block content
    link(href='/css/home/video.css' rel='stylesheet')
    section(class='container')
      include ../common/nav
      h2(class='text-center') #{video.name}
      video(src='#{video.src}', controls='controls',width='100%')
      dl(class='dl-horizontal')
        dt 分类:
        dd #{video.firstcate.name} - #{video.secondcate.name}
        dt 发布时间:
        dd #{moment(video.meta.created_at).format('YYYY MM DD')}
        dt 浏览:
        dd #{video.views}
        dt 简介:
        dd #{video.intro}
      h3(id='comments-tit') 观众评论  
      ul(id='comments' class='list-unstyled')
        each comment in comments
          li(class='panel panel-default')
            div(class="panel-heading") #{comment.from.name}:
              time(class='pull-right') #{moment(comment.meta.created_at).format('YYYY-MM-DD H:m:s')}
            div(class='panel-body') #{comment.content}
            div(class='panel-footer')
              if(user)
                button(type='button' class='reply btn btn-primary btn-xs') reply
                button(type='button' class='viewreply btn btn-default btn-xs' data-toggle="modal" data-target="#replies" data-cid="#{comment._id}" data-name="#{comment.from.name}" data-con="#{comment.content}" data-time="#{moment(comment.meta.created_at).format('YYYY-MM-DD H:m:s')}") view replies (#{comment.totalReply})
                input(type='hidden' id='userid' value='#{user._id}')
                input(type='hidden' id='username' name='username' value='#{user.name}')
                form(action='/reply/store' method='post' role='form' class='replyForm hidden')
                  input(type='hidden' name='from' value='#{user._id}')
                  input(type='hidden' name='toWhichComment' value='#{comment._id}')
                  input(type='hidden' name='toWho' value='#{comment.from._id}')
                  div(class='form-group')
                    textarea(class='form-control' name='content' placeholder='Please input your comment here' required)
                  b #{user.name}   
                  button(type='button' class='replyBtn btn btn-default btn-xs') submit
              else
                button(type="button" class='btn btn-primary btn-xs' data-toggle="modal" data-target="#myModal") login and reply
                button(type='button' class='viewreply btn btn-default btn-xs' data-toggle="modal" data-target="#replies" data-cid="#{comment._id}" data-name="#{comment.from.name}" data-con="#{comment.content}" data-time="#{moment(comment.meta.created_at).format('YYYY-MM-DD H:m:s')}") view replies (#{comment.totalReply})          
      div(class='text-center') 
        if(comments.length>0)
          button(type='button' class='btn btn-sm btn-primary' id='viewMore') 
            span(id='more') 查看更多
            span(class='glyphicon glyphicon-chevron-down')
        else
          button(type='button' class='btn btn-sm btn-primary hidden' id='viewMore') 
            span(id='more') 查看更多
            span(class='glyphicon glyphicon-chevron-down')
          p(class='nocmts' id='nocmts') 还没有评论，快来抢沙发吧~
        button(type='button' class='btn btn-sm btn-default hidden' id='hiddenall') 收起评论
          span(class='glyphicon glyphicon-chevron-up')
      if(user)  
        input(type='hidden' id='isLogin' value='yes')
        form(action='/comment/store' method='post' role='form'  id='commentForm')
          input(type='hidden' name='from' value='#{user._id}')
          input(type='hidden' name='url')
          input(type='hidden' name='pageTitle' value='#{title}')
          div(class='form-group')
            label(for='content') comment
            textarea(class='form-control' id='content' required name='content' placeholder='Please input your comment here')
          div(class='form-group')
            button(type='button' class='btn btn-default btn-xs'  id='subComment') submit
      else
        input(type='hidden' id='isLogin' value='no')
        button(type="button" class='loc btn btn-default btn-xs' data-toggle="modal" data-target="#myModal") login and comments
      br
    div(class='modal fade' id='myModal' tabindex='-1' role='dialog' aria-labelledby="myModalLabel")
      div(class="modal-dialog" role="document")
        div(class="modal-content")
          div(class="modal-header")
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
            h4(class="modal-title" id="myModalLabel") Login
          div(class='modal-body')
            div(class="alert alert-warning hidden" id='warning' role="alert")
            div(class="alert alert-success hidden" id='success' role="alert")
            form(class='form-horizontal' action='/doLogin' id='form')
              div(class='form-group')
                label(class='col-sm-2 control-label' for='name') 账号
                div(class='col-sm-10')
                  input(type='text' class='form-control' id='name' placeholder='用户名/邮箱/手机号' name='account')
              div(class='form-group')
                label(class='col-sm-2 control-label' for='password') 密码
                div(class='col-sm-10')
                  input(type='password' class='form-control' id='password' placeholder='password' name='password')
              div(class='form-group')
                label(class='col-sm-2 control-label' for='sub')
                div(class='col-sm-10')
                  button(type='button' class='btn btn-primary' id='login') 登录
                  a(href='/vlogin' class='btn-xs' style='margin-left:12px') 忘记密码？
    div(class='modal fade' id='replies' tabindex='-1' role='dialog'  aria-labelledby="myModalLabel")
      div(class="modal-dialog" role="document")
        div(class="modal-content")
          div(class="modal-header")
            button(type="button" class="close" data-dismiss="modal"  aria-label="Close")
              span(aria-hidden="true") &times;
            h4(class="modal-title") Replies
          div(class='modal-body')
            div(class='panel panel-default')
              div(class='panel-heading')
                b(id='who') 
                time(class='pull-right' id='time')
              div(class='panel-body')
                div(id='whatcon')
                ul(class='list-group' id='replies-list')
                div(class='text-center')
                  button(type='button' id='morereply' class='btn btn-primary btn-xs glyphicon glyphicon-chevron-down' title='查看更多')
                  button(type='button' id='hiddenreply' class='btn btn-default btn-xs glyphicon glyphicon-chevron-up hidden' title='收起')
  include ../../common/footer      
  script(src='/js/common/jquery.form.js')
  script(src='/js/common/dateToString.js')
  script(src='/js/home/jquery.scrollto.js')
  script(src='/js/home/videoDetail.js')
  script(src='/js/home/morereply.js')