include ../../common/header
block content
  style.
    .list-inline{margin-left:20px;}
  section(class='container')
    include ../common/nav
    ul(class='list-inline')
      each secondcate in secondcates
        li
          a(href='/video?firstcate=#{firstcate}&secondcate=#{secondcate._id}') #{secondcate.name}
    ul(class='row')
      each video in videos
        li(class='media list-unstyled')
          div(class='media-left')
            a(href='/video/detail/#{video.id}',target='_blank')
              img(class='media-object',src='#{video.playbill}',alt='#{video.name}',width='64',height='64')
          div(class='media-boty media-right')
            h4(class='media-heading') #{video.name}
            p #{video.intro}
    ul(class='pagination')
      -for(var i=0;i<videos.length;i++)
        li(class='disabled')
          a(href='#') i+1
include ../../common/footer          