include ../../common/header
block content
  section(class='container')
    include ../common/nav
    ul(class='row')
      each movie in movies
        li(class='media list-unstyled')
          div(class='media-left')
            a(href='/movie/detail/#{movie.id}',target='_blank')
              img(class='media-object',src='#{movie.playbill}',alt='#{movie.name}',width='64',height='64')
          div(class='media-boty media-right')
            h4(class='media-heading') #{movie.name}
            p #{movie.intro}
include ../../common/footer          