include ../../common/header
  block content
    link(rel='stylesheet' href='/css/home/course.css')
    section(class='container')
      include ../common/nav
      ul(class='list-cates list-inline')
        -if(isAll==true)
          each secondcate in secondcates
            li
              a(href='/course?secondcate=#{secondcate._id}') #{secondcate.name}
        -else
          each secondcate in secondcates
            li
              a(href='/course?firstcate=#{secondcate.parentcate._id}&secondcate=#{secondcate._id}') #{secondcate.name}
      div(class='masonry-container row')
        each course in courses
          div(class='item col-md-3 col-sm-4 col-xs-6')
            div(class='thumbnail')
              a(href='/video?cid=#{course._id}' target='_blank')
                img(src='#{course.playbill}')
              div(class='caption')
                h4 
                  a(href='/video?cid=#{course._id}' target='_blank') #{course.name}
                p(class='grey small') #{course.intro}
                small(class='text-primary') 浏览量：#{course.views}
      -if(pageLength>1)        
        ul(class='pagination')
          -if(curPage==1)
            li(class='disabled')
              a(href='javascript:') &laquo;
          -else
            li()
              a(href='/course?#{condition}page=#{curPage-1}') &laquo;
          -for(var i=0;i<pageLength;i++)
            if(i+1==curPage)
              li(class='active')
                a(href='javascript:') #{i+1}
            else    
              li()
                a(href='/course?#{condition}page=#{i+1}') #{i+1}
          -if(curPage==pageLength)
            li(class='disabled')
              a(href='javascript:') &raquo;
          -else
            li()
              a(href='/course?#{condition}page=#{curPage+1}') &raquo;
  include ../../common/footer    
  script(src='/libs/imagesloaded/imagesloaded.pkgd.js')
  script(src='/libs/masonry/dist/masonry.pkgd.min.js')
  script(src='/js/home/course.js')
