include ../../common/header
block content
  style.
    .btn{margin-left:2px;margin-right:2px;}
  include ../common/nav    
  section(class='container')
    table(class='table table-bordered table-hover text-center')
      tr
        th name
        th author
        th category
        th created_at
        th playbill
        th operating
      each video in videos
        tr
          td #{video.name}
          td #{video.author}
          td #{video.firstcate.name} - #{video.secondcate.name}
          td #{moment(video.meta.created_at).format('YYYY MM DD')}
          td: img(src='#{video.playbill}' width='100')
          td
            a(href='/video/detail/#{video._id}' target='_blank' class='btn btn-default btn-xs') view
            button(type='button' class='edit btn btn-primary btn-xs' data-id='#{video._id}' data-fcate='#{video.firstcate._id}' data-scate='#{video.secondcate._id}' data-toggle="modal" data-target="#myModal") edit
            button(type='button' class='del btn btn-danger btn-xs' data-id='#{video._id}') delete
  div(class='modal fade' id='myModal' tabindex='-1' role='dialog' aria-labelledby="myModalLabel")
    div(class="modal-dialog" role="document")
      div(class="modal-content")
        div(class="modal-header")
          button(type="button" class="close" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
          h4(class="modal-title" id="myModalLabel") Edit
        div(class='modal-body')
          input(type='file' accept="image/*" class='form-control hidden' id='playbill' placeholder='playbill')
          form(class='form-horizontal' action='' id='form')
            div(class='form-group')
              label(class='col-sm-2 control-label' for='name') 名称
              div(class='col-sm-10')
                input(type='text' class='form-control' id='name' placeholder='name' name='name' required)
            div(class='form-group')
              label(class='col-sm-2 control-label' for='author') 作者
              div(class='col-sm-10')
                input(type='text' class='form-control' id='author' placeholder='author' name='author' value='学疯网管理员' required readonly="readonly")
            div(class='form-group')
              label(class='col-sm-2 control-label' for='parentcate') 一级分类
              div(class='col-sm-10')
                select(class='form-control' name='firstcate' id='parentcate' required)
                  option(value='') 请选择
            div(class='form-group')
              label(class='col-sm-2 control-label' for='secondcate') 二级分类
              div(class='col-sm-10')
                select(class='form-control' name='secondcate' id='secondcate' required)
            div(class='form-group')
              label(class='col-sm-2 control-label' for='playbill') 海报
              div(class='col-sm-10')
                img(src='/image/admin/video/choosepic.jpg' class='img-thumbnail' id='thumb')
                input(type='hidden' name='playbill' required)
            div(class='form-group')
              label(class='col-sm-2 control-label' for='src') 上传视频
              div(class='col-sm-10')
                input(type='file' class='form-control' id='src' placeholder='src' required)
                video(controls='true' width='100' id='video')
                input(type='hidden' name='src')
            div(class='form-group')
              label(class='col-sm-2 control-label' for='intro') 介绍
              div(class='col-sm-10')
                textarea(class='form-control' id='intro' name='intro' placeholder='intro' required)
            div(class='form-group')
              label(class='col-sm-2 control-label' for='sub')
              div(class='col-sm-10')
                button(type='button' class='form-control btn-primary' id='sub') submit
  include ../../common/footer            
  script(src='/js/common/jquery.form.js')
  script(src='/libs/ali-oss/dist/aliyun-oss-sdk.min.js')
  script(src='/js/common/ossWrapper.js')
  script(src='/js/common/deleteFromAli.js')
  script(src='/js/common/uploadToAli.js')
  script(src='/js/common/loadfirstcate.js')
  script(src='/js/admin/videocreate.js')
  script(src='/js/admin/list.js')          
        